<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Tabela Periódica</title>
        <link rel="icon" href="{{url_for('static',filename='favicon.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='styles/w3.css')}}">
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Elementos</h1>
            </header>

            <div class="w3-container">
                <table class="w3-table-all">
                    <tr>
                        <th>Número</th>
                        <th>Símbolo</th>
                        <th>Nome</th>
                        <th>Grupo</th>
                    </tr>

                    {% for entry in data.query %}
                    <tr>
                        <td>{{entry.num.value}}</td>
                        <td><a href="/elemento/{{entry.id}}">{{entry.sim.value}}</a></td>
                        <td>{{entry.nome.value}}</td>
                        <td><a href="/grupo/{{entry.group_id}}">{{entry.group_name.value}}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <footer class="w3-container w3-purple">
                <h5>Gerado por RPCW2024 em {{data.date}}</h5>
            </footer>
        </div>
    </body>
</html>